*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
}
.login{ 
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: darkslategrey;
    margin: 10px;
    border: 1px solid black;
    animation: login 2s;
    animation-fill-mode: forwards;
}
.register{
    position: absolute;
    width: 400px;
    margin: 10px;
    height: 600px;
    background-color: slategray;
    border: 1px solid black;
    animation: register 2s;
    animation-fill-mode: forwards;
    transition: ease-in;
}


input[type=email]{
    margin:200px 10px 30px 20px;
    background-color: slategray;
    font-size: 20px;
}
input[type=password]{
    margin:10px 10px 30px 20px;
    background-color:slategray;
    font-size: 20px;
}

input[type=submit]{
    margin:20px 10px 10px 70px;
    background-color:wheat;
    width: 50px;
}

label{
    width: 100px;
    background-color: burlywood;
}

#button{
    position: absolute;
    opacity: 1;

}


input[type=checkbox]:checked ~ .register{
    animation: login 2s forwards;   
}

input[type=checkbox]:checked ~ .login{
    animation: register 2s forwards;   
    
}

@keyframes login{
0% { 
    opacity: 1;
    right: 200px;

    }

100%{
    opacity: 0;
    right: 100px;
}
}

@keyframes register{
    0%{
        opacity: 1;
        left: 500px;
        
        
    }
100%{
    opacity: 1;
    left: 500px;
}

}